<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="netBankingProject">
	<test name="BankingApp Test">
		<parameter name="browser" value="Chrome" />
		<classes>
			<!--  class name="com.netBanking.testCases.TC_LoginTest_001" /-->
			<!--  class name="com.netBanking.testCases.TC_AddCustomer_002" /-->
			<class name="com.netBanking.testCases.TC_DeleteCustomer_003" />
		</classes>
	</test>
</suite>